.red-button {
  background-color:aqua;
  color:white;
  font-size:15px;
  }
  
  .blue-button{
  background-color:red;
  color:white;
  }
  
  .yellow-button{
  background-color:red;
  color:white;
  }
  
  .neko{
  margin-right:60px;
  margin-left:50px;
  }
  
  .bake{
  margin-left:50px;
  margin-right:52px;
  }
  
  body{
  background-color:gray;
  }
  ul{
  padding-left:0;
  }
  
  li{
  list-style:none;
  }